<div class="jumbotron center">

	<div class="col-md-4">
		The world's top Esport events, we stream. 
	</div>
	<div class="col-md-4"> Who do you think will win?</div>
	<div class="col-md-4">Decide!</div>